name: CI

on:
  push:
    branches:
      - master
  repository_dispatch:
  schedule:
    - cron: '15 7 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Build and deploy
      run: ./build.sh deploy ${{ secrets.ID_RSA_CONTENTS_BASE64 }} ${{ secrets.DOCKER_CONFIG_CONTENTS_BASE64 }}
      env:
        GIT_REPO_URL: 'git@github.com:ScottG489/docker-build-push.git'
        RELATIVE_SUB_DIR: '.'
        DOCKER_IMAGE_NAME: 'scottg489/docker-build-push:latest'
